#app-root {
  font-family: sans-serif;
  text-align: center;
}

#app-root.light {
}

body {
  margin: 0px;
}

#app-root.dark
  :not(button):not(.ant-switch-inner):not(.ant-switch-handle):not(a):not(
    .ant-progress-inner
  ) {
  background-color: #151515;
  color: white;
}

#app-root.dark text {
  color: white;
}
#app-root.dark .ant-progress-inner {
  background-color: white;
}
